@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 7%;   
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;  
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    color: var(--text-color);
    margin-left: 10px;
    margin-right: 25px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .50s ease; 
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 28px;
    cursor: pointer;
    color: var(--text-color);
    z-index: 1001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 4%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0px;
        margin: 0px 20px;
    }
}

@media (max-width:1090px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 30vh;
        justify-content: flex-start;
        background: var(--main-color);
        border-radius: 10px;
        transition: all .50s ease;
        padding: 8px;
    }

    .navbar a{
        display: block;
        margin: 12px 0px;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open{
        right: 2%;
    }
}